/* Reset Default css*/
* {
    margin: 0;
    padding: 0;
}

/* Box Sizing */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* Page Titles */
.main-title::after {
    background: rgb(50, 160, 225);
    margin: 0.5em auto;
    display: block;
    content: '';
    width: 80px;
    height: 3px;
}

.sub-title {
    padding-top: 70px;
    padding-bottom: 40px;
}

    .sub-title::after,
    .sub-title::before {
        background: rgb(50, 160, 225);
        vertical-align: middle;
        display: inline-block;
        content: '';
        height: 2px;
    }

    .sub-title::after {
        margin-left: 1%;
        width: 20%;
    }

    .sub-title::before {
        margin-right: 1%;
        width: 10%;
    }

/* Image Section */
.image-section {
    background-image: url('/resurses/backgrounds/home_page_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    height: 800px;
    width: auto;
}

.image-section-label {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

    .image-section-label h2 {
        color: rgb(255, 255, 255);
    }

.form-background {
    background-image: url('/resurses/backgrounds/form_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 70px;
    padding: 20px;
}

/* Color Section */
.color-section {
    background-color: rgba(50, 160, 225, 0.1);
}

/* Icons */
.icon-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.icon-wrapper {
    width: 200px;
    text-align: center;
}

.icon {
    font-size: 60px;
}

/* List Items */
.list-item {
    display: flex;
    margin-left: 20px;
}

.icone-list-item {
    color: rgb(50, 160, 225);
    margin-right: 5px;
}

/* Brands */
.brand-container {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.brand {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 200px;
    height: 200px;
}

.apple-brand {
    background-image: url('/resurses/brands/apple_brand.jpg');
}

.htc-brand {
    background-image: url('/resurses/brands/htc_brand.png');
}

.blackberry-brand {
    background-image: url('/resurses/brands/blackberry_brand.png');
}

/* Map */
.map {
    border: none;
    width: 100%;
    height: 600px;
}

.modal-container {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.modal-row-title {
    color: rgb(50, 160, 225);
    width: 100px;
}

.modal-row-data {
    min-width: 200px;
}