/* Reset.css */
* {
    margin: 0;
    padding: 0;
}

/* Box-sizing */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.home-page-background {
    background-image: url('/resurses/home_page_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 800px;
    padding-top: 100px;
}

.home-page-information-section {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: snow;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.icon-wrapper {
    width: 200px;
    text-align: center;
}

.icon {
    font-size: 60px;
}

.main-title::after {
    content: '';
    width: 80px;
    height: 3px;
    background: #325a82;
    display: block;
    margin: 0.5em auto;
}

.sub-title {
    margin-top: 70px;
    margin-bottom: 40px;
}

    .sub-title::after,
    .sub-title::before {
        content: '';
        background: rgb(50, 160, 225);
        display: inline-block;
        vertical-align: middle;
        height: 2px;
    }

    .sub-title::after {
        margin-left: 0.5em;
        width: 2em;
    }

    .sub-title::before {
        margin-right: 0.5em;
        width: 1em;
    }

.background-section {
    background-color: rgba(50, 160, 225, 0.1);
}

.list-item {
    display: flex;
    margin-left: 20px;
}

.icone-list-item {
    color: rgb(50, 160, 225);
    margin-right: 5px;
}
