/* Reset.css */
* {
    margin: 0;
    padding: 0;
}

/* Box-sizing */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.home-page-background {
    background-image: url('/resurses/home_page_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 800px;
    padding-top: 100px;
}

.home-page-information-section {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: snow;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.icon-wrapper {
    width: 200px;
    text-align: center;
}

.icon {
    font-size: 60px;
}

h1::after {
    content: '';
    width: 80px;
    height: 3px;
    background: #325a82;
    display: block;
    margin: 0.5em auto;
}

.test {
    background-color: rgba(44, 163, 232, 0.1);
}