@{
    ViewData["Title"] = "Home";
}

<div class="home-page-background">
    <div class="container">
        <div class="home-page-information-section">




            Mobile Service is a specialized service for the diagnostic and complete repair of mobile phones of all kinds, makes and models. We will find the decision of any problems with software or hardware maintenance of the device.
        </div>
    </div>
    
</div>

@*<img class="home-page-background" src="~/resurses/home_page_background.jpg"/>*@

