@{
    ViewData["Title"] = "Services";
}
<div class="container">
    <h2 class="sub-title">Services</h2>
</div>

<div class="background-section">
    <div class="container pt-2 pb-2">
        <h5>iPhone Service</h5>
        <p>Mobile Service is specialized in providing both quality and speed in the repairs and servicing of all Apple mobile devices.</p>
        <p>Our skilled staff and constant availability of genuine parts enables us to offer high quality repair of your device.</p>
        <ul>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Changing the display and touchscreen on the iPhone 6+,6, 5S, 5C, 5, 4S, 4, 3G, 3GS, 2G.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Change of speaker or microphone on the iPhone 6, 5S, 5C, 5, 4S, 4, 3G, 3GS, 2G.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Battery replacement on all models of iPhone.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Software upgrade for all models iPhones.
                </p>
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <h5>HTC Service</h5>
    <p>Mobile Service offers hardware and software support for all HTC smartphones.</p>
    <ul>
        <li class="list-item">
            <p>
                <i class="fas fa-check icone-list-item"></i>
                Broken touch screen
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="fas fa-check icone-list-item"></i>
                Broken display
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="fas fa-check icone-list-item"></i>
                The earpiece, microphone, speaker is not working
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="fas fa-check icone-list-item"></i>
                Replacing of the ribbon cable
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="fas fa-check icone-list-item"></i>
                Replacement of the panels and other services
            </p>
        </li>
    </ul>
</div>

<div class="background-section">
    <div class="container pt-2 pb-2">
        <h5>BlackBerry Service</h5>
        <p>If a problem of any kind appears on your BlackBerry, contact our service by the phones on the right or by the contact section below.</p>
        <p>BlackBerry phones are mainly designed for business users, with its convenient mobile access to business applications and the Internet.</p>
        <ul>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing the display of BlackBerry
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing the touchscreen
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing the Joystick
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing the panel and the keyboard on BlackBerry
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing the microphone, earpiece or speaker
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Reinstall the operating system for BlackBerry
                </p>
            </li>
            <li class="list-item">
                <p>
                    <i class="fas fa-check icone-list-item"></i>
                    Free diagnostics
                </p>
            </li>
        </ul>
    </div>
</div>

<div style="height: 1000px">

</div>
<div>sdsd</div>
