@{
    ViewData["Title"] = "Services";
}
    <div class="container" style="padding-top: 100px;">
        <h2>Services</h2>
        <p>We are a specialized service for the diagnostic and complete repair of mobile phones of all kinds, makes and models. We will find the decision of any problems with software or hardware maintenance of the device.</p>
        <p>We provide a range of services such as diagnostics and fault detection in your unit, specialized and comprehensive repair, unlocking phones, installation menu of Bulgarian language, repair of any kind of complexity as a replacement for microcircuits, cleaning of circuit boards and other parts against corrosion. Our services daily benefit many customers in Studentski grad, and other districts of Sofia. Customers always leave happy and often come back to us in case of other damage.</p>
        <p>Mobile Service’s team is composed of professionals with over 10 years of experience in the repair and service of phones of all makes and models. Over the years we have faced any kinds of issues and even the most challenging of them have been solved.</p>
    </div>
