@{
    ViewData["Title"] = "Services";
}
<div class="container">
    <h2 class="sub-title">Services</h2>
</div>
<!-- Section iPhone Service -->
<div class="color-section">
    <div class="container pt-4 pb-4">
        <h5>iPhone Service</h5>
        <p class="mb-1">Mobile Service is specialized in providing both quality and speed in the repairs and servicing of all Apple mobile devices.</p>
        <p class="mb-1">Our skilled staff and constant availability of genuine parts enables us to offer high quality repair of your device.</p>
        <p class="mb-1">Services for iPhones:</p>
        <ul class="m-0">
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Changing the display and touchscreen on the iPhone 6+,6, 5S, 5C, 5, 4S, 4, 3G, 3GS, 2G.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Change of speaker or microphone on the iPhone 6, 5S, 5C, 5, 4S, 4, 3G, 3GS, 2G.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Battery replacement on all models of iPhone.
                </p>
            </li>
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Software upgrade for all models iPhones.
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- Section Apple’s iPad And iPod Service -->
<div class="container pt-4 pb-4">
    <h5>Apple’s iPad And iPod Service</h5>
    <p class="mb-1">The Apple iPad is a great gadget which is getting more and more useful in the modern day life, but it also sometimes breaks. It is better if the problem is obvious. For example, break or burst of the display caused by a fall.</p>
    <p class="mb-1">But if the reason for the malfunction of the device is not obvious and the damage is unusual, it is reasonable to refer to the specialists of our service – we will save you a lot of time and of course, money.</p>
    <p class="mb-1">Common problems for which require repairs on an iPad:</p>
    <ul class="m-0">
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                Broken display
            </p>
        </li>
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                The device is not loading
            </p>
        </li>
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                It does not turn on
            </p>
        </li>
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                The display does not lit
            </p>
        </li>
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                The Apple logo is fading
            </p>
        </li>
        <li class="list-item">
            <p class="mb-0">
                <i class="fas fa-check icone-list-item"></i>
                The device is not connecting with iTunes
            </p>
        </li>
    </ul>
</div>
<!-- Section HTC Service -->
<div class="color-section">
    <div class="container pt-4 pb-4">
        <h5>HTC Service</h5>
        <p class="mb-1">Mobile Service offers hardware and software support for all HTC smartphones.</p>
        <p class="mb-1">Common problems with HTC’s phones:</p>
        <ul class="m-0">
            <li class="list-item">
                <p class="mb-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Broken touch screen
                </p>
            </li>
            <li class="list-item">
                <p class="m-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Broken display
                </p>
            </li>
            <li class="list-item">
                <p class="m-0">
                    <i class="fas fa-check icone-list-item"></i>
                    The earpiece, microphone, speaker is not working
                </p>
            </li>
            <li class="list-item">
                <p class="m-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Replacing of the ribbon cable
                </p>
            </li>
            <li class="list-item">
                <p class="m-0">
                    <i class="fas fa-check icone-list-item"></i>
                    Replacement of the panels and other services
                </p>
            </li>
        </ul>
    </div>
</div>
<!-- Section BlackBerry Service -->
<div class="container pt-4 pb-4">
    <h5>BlackBerry Service</h5>
    <p class="mb-1">If a problem of any kind appears on your BlackBerry, contact our service by the phones on the right or by the contact section below.</p>
    <p class="mb-1">BlackBerry phones are mainly designed for business users, with its convenient mobile access to business applications and the Internet.</p>
    <p class="mb-1">Our BlackBerry services:</p>
    <ul class="m-0">
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Replacing the display of BlackBerry
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Replacing the touchscreen
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Replacing the Joystick
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Replacing the panel and the keyboard on BlackBerry
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Replacing the microphone, earpiece or speaker
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Reinstall the operating system for BlackBerry
            </p>
        </li>
        <li class="list-item">
            <p class="m-0">
                <i class="fas fa-check icone-list-item"></i>
                Free diagnostics
            </p>
        </li>
    </ul>
</div>