@{
    ViewData["Title"] = "Repair Order";
}
<div class="form-background">
    <div class="container" style="padding-bottom: calc(100vh - 200px);">
        <div class=" form-container">
            <h2>Repair Order</h2>
            <hr />
            <h5>There is currently no tasks associated with you</h5>
        </div>
    </div>
</div>