@{
    ViewData["Title"] = "Contacts";
}
<!-- Information Section -->
<div class="container">
    <h2 class="sub-title">Contacts</h2>
    <h3>Address</h3>
    <ul class="m-0">
        <li class="list-item">
            <p>
                <i class="fas fa-map-marker-alt icone-list-item"></i>
                876 Aleksandar Stambolijski street, Offices 1876 and 6543, Lakatnik, Bulgaria
            </p>
        </li>
    </ul>
    <h3>Contacts</h3>
    <ul class="m-0">
        <li class="list-item">
            <p>
                <i class="fas fa-mobile-alt icone-list-item"></i>
                (+359) 895 66 7777 and (+359) 895 66 8888
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="fas fa-phone-alt icone-list-item"></i>
                (+359 2) 895 66 77; (+359 2) 895 66 88;
            </p>
        </li>
        <li class="list-item">
            <p>
                <i class="far fa-envelope icone-list-item"></i>
                office@mobileservice.com
            </p>
        </li>
    </ul>
</div>
<!-- Map Section -->
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1457.02607881512!2d23.37754948422922!3d43.08239879203728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aade1acef2e2f7%3A0x547f3e5d071cf457!2z0JvQsNC60LDRgtC90LjQug!5e0!3m2!1sbg!2sbg!4v1590592233323!5m2!1sbg!2sbg"></iframe>




